################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/Sebastian.Toolkit/v14
/src/Sebastian.Toolkit/bin
/src/Sebastian.Toolkit/obj
